{% extends 'base/main.html' %}
 {% block content %}

 
 {% if page == 'login' %}
 <div>
    <form method="POST" action=""> 
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username" placeholder="enter your username"/>

        <label>password</label>
        <input type="password" name="password" placeholder="enter your password"/>
        <input type="submit" value="login" />
        
    </form>
    <p> havn't signed up yet?</p>
    <a href ="{% url 'register' %}">sign up</a>
 </div>
{% else %}
{% comment %} this is register page {% endcomment %}
 <div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        
        <input type="submit" value="Register" />

    </form>
    <p>already signed up yet</p>
    <a href="{% url 'login' %}">login</a>
 </div>
 {% endif %}
 {% endblock content %}